.movie-card {
  margin: 0 auto 14px auto;
  list-style-type: none;
  width: 93.5vw;
  min-height: 271px;
  display: flex;
  flex-direction: column;
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movie-card__info {
  padding: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.movie-card__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis
}

.movie-card__length {
  margin: 0;
  padding: 0;
  min-width: 19vw;
  text-align: end;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #8B8B8B;
}

.movie-card__image {
  width: 93.7vw;
  height: 52.5vw;
  object-fit: cover;
}

.movie-card__link {
  margin: 0;
  padding: 0;
}

.movie-card__saved {
  margin: 10px auto;
  padding: 0;
  background: #EE3465;
  border-radius: 30px;
  width: 100px;
  min-height: 29px;
  border: none;
  transition: opacity 0.5s ease-in-out;
}

.movie-card__saved:hover {
  opacity: 0.6;
}

.movie-card__button {
  margin: 15px auto;
  padding: 0;
  background: #313131;
  border-radius: 30px;
  width: 100px;
  min-height: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #FFFFFF;
  border: none;
  transition: opacity 0.5s ease-in-out;
}

.movie-card__button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 409px) and (max-width: 930px) {
  .movie-card {
    margin: 0;
    width: 44.53vw;
    min-height: 309px;
  }

  .movie-card__length {
    min-width: 10vw;
    font-size: 13px;
    line-height: 18px;
  }

  .movie-card__title {
    font-size: 15px;
    line-height: 18px;
  }

  .promo__title {
    max-width: 730px;
    font-size: 50px;
    line-height: 1.16;
  }

  .movie-card__info {
    padding: 18px;
  }

  .movie-card__image {
    width: 44.7vw;
    height: 24.74vw;
  }

  .movie-card__button {
    margin: 10px auto;
  }

  .movie-card__saved {
    margin: 10px auto;
  }
}

@media screen and (min-width: 931px) {
  .movie-card {
    margin: 0;
    width: 28vw;
    max-width: 360px;
    min-height: 319px;
  }

  .movie-card__length {
    min-width: 6vw;
    font-size: 13px;
    line-height: 18px;
  }

  .movie-card__title {
    font-size: 15px;
    line-height: 18px;
  }

  .promo__title {
    max-width: 730px;
    font-size: 50px;
    line-height: 1.16;
  }

  .movie-card__info {
    padding: 18px;
  }

  .movie-card__image {
    width: 28vw;
    height: 15.5vw;
  }

  .movie-card__button {
    margin: 15px auto;
  }

  .movie-card__saved {
    margin: 15px auto;
  }
}

