.movies {
  display: flex;
  flex-direction: column;
}

.movies__button {
  padding: 0;
  margin: 60px auto 159px;
  width: 240px;
  min-height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background: #2F2F2F;
  border-radius: 6px;
  border: none;
  transition: opacity 0.5s ease-in-out;
}

.movies__button:hover {
  opacity: 0.6;
}

.movie__result {
  width: 100%;
  display: inline-block;
  margin:0 auto 50px;
  padding: 0;
  text-align:center;
  text-align: center;
  min-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;

}

@media screen and (min-width: 409px) and (max-width: 930px) {

  .movies__button {
    margin-top: 80px;
    width: 320px;
  }

}

@media screen and (min-width: 931px) {
  .movies__button {
    margin-top: 65px;
    width: 320px;
  }
}
