.portfolio {
  margin: 0 auto 79px;
  width: 91.2vw;
  max-width: 1280px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  color: #A0A0A0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  mix-blend-mode: normal;
}

.portfolio__links {
  padding: 0;
}

.portfolio__item {
  margin: 0;
  padding: 20px 0 19px 0;
  list-style-type: none;
  border-bottom: 1px solid #E6E6E6;
}

.portfolio__item:last-child {
  border-bottom: none;
  padding-bottom: 70px;
}

.portfolio__link {
  background: url("../../images/arrow.svg") no-repeat;
  background-size: 12px 19px;
  background-position: 99% 60%;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.5s ease-in-out;
}

.portfolio__link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 760px) and (max-width: 930px) {
  .portfolio {
    padding: 20px 0 5px 0;
    width: 87vw;

  }

  .portfolio__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (min-width: 931px) {
  .portfolio {
    margin: 0 auto 130px;
    width: 89vw;
  }

  .portfolio__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__link {
    font-size: 30px;
    line-height: 50px;
  }
}
