.title {
  padding: 70px 0 28px 0;
  margin: 0px auto 60px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  width: 89vw;
  max-width: 1280px;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -0.04em;
}

.title_theme_dark {
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 409px) and (max-width: 930px) {
  .title {
    font-size: 22px;
    padding: 90px 0 23px 0;
    margin: 0px auto 65px auto;
    width: 87vw;
  }
}

@media screen and (min-width: 931px) {
  .title {
    font-size: 22px;
    padding: 95px 0 23px 0;
    margin: 0px auto 70px auto;
    width: 89vw;
  }
}
