.saved-movies {
  margin-bottom: 230px;
}

@media screen and (min-width: 409px) and (max-width: 930px) {
  .saved-movies {
    margin-bottom: 250px;
  }
}

@media screen and (min-width: 931px) {
  .saved-movies {
    margin-bottom: 310px;
  }
}
