.menu__button {
  margin-right: 10px;
  top: 19px;
  right: 0;
  width: 22px;
  height: 2.5px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  border:none;
  cursor: pointer;
  transition: opacity 0,3s ease-in-out;
}

.menu__button:before {
  top: -8.5px;
}

.menu__button:after {
  top: 8.5px;
}

.menu__button:before,
.menu__button:after {
  content: '';
  position:absolute;
  right: 0;
  width: 22px;
  height: 2.5px;
  background: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.menu__button:hover {
  opacity: 0.6;
}
