.about-project {
  margin: 0 auto;
  background-color: #202020;
}

.article {
  margin: 0 auto;
  max-width: 1280px;
  width: 89vw;
  display: flex;
  flex-direction: column;
}

.article__title {
  margin: 0;
  padding: 0 0 16px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

.article__text {
  margin: 0;
  padding: 0 0 56px 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.45;
}

.progress {
  padding: 0 0 58px;
  margin: 4px auto 0;
  max-width: 1280px;
  width: 89vw;
  display: grid;
  grid-template-rows: 35px;
  grid-template-columns: 31vw 57vw;
}

.about-project__wrapper {
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__wrapper_color_green {
  background-color: #3DDC84;
}

.about-project__wrapper_color_gray {
  background-color: #303030;
}

.progress__part {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #A0A0A0;
}

.progress__part_color_green {
  color: #000000;
}

.progress__part_color_gray {
  color: #FFFFFF;
}

@media screen and (min-width: 409px) and (max-width: 767px){
  .article {
    max-width: 87vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 930px) {
  .about-project__section {
    margin: 0 auto;
    padding: 5px 0 0 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }

  .article {
    max-width: 42vw;
  }

  .article:first-child {
    padding-right: 30px;
  }

  .article__title {
    padding: 0 0 22px 0;
    font-size: 20px;
  }

  .article__text {
    padding: 0 0 56px 0;
    font-size: 12px;
    line-height: 1.5;
  }

  .progress__part {
    font-size: 14px;
    line-height: 17px;
  }

  .progress {
    max-width: 87vw;
    padding: 0 0 86px;
    margin: 35px auto 0;
    grid-template-rows: 36px;
    grid-template-columns: 18vw auto;
  }
}

@media screen and (min-width: 931px) {
  .about-project {
    margin-top: 10px;
  }

  .about-project__section {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }

  .article {
    width: calc(44.5vw - 20px);
    max-width: 620px;
  }

  .article:first-child {
    padding-right: 40px;
  }

  .article__title {
    padding: 0 0 26px 0;
    font-size: 20px;
  }

  .article__text {
    padding: 0 0 110px 0;
    font-size: 14px;
    line-height: 1.4;
  }

  .progress {
    padding: 0 0 105px;
    margin: 0 auto;
    grid-template-rows: 36px;
    grid-template-columns: 18vw auto;
  }

  .progress__part {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .about-project__wrapper_color_green {
    font-weight: 400;
  }

  .about-project__wrapper_color_gray {
    font-weight: 400;
  }
}
